[pytest]
addopts = -q --cov=app --cov-report=term-missing:skip-covered --cov-config=.coveragerc
testpaths = tests
filterwarnings =
    ignore::DeprecationWarning:telegram\..*
[report]
omit =
    app/main.py
    app/scheduler_main.py
